body {
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.main-container{
  overflow-y: scroll;
}

input.react-datepicker-ignore-onclickoutside {
  background: white
}

/* slideorder */
.card-orderlist {
  background-color: #FFFFFF;
  border-radius: .5rem;
}

/* end slideorder */



button {
  background-color: rgba(196, 196, 196, 1);
  border-radius: 8px;
  border-width: 0;
  font-weight: bold;
  padding: 12px;
  text-align: center;
}

.button-login{
  width: -webkit-fill-available;
}

.button-done{
  background-color: lime;
  width: 70%;
}

.button-dones{
  background-color: lime;
  width: 70%;
}

.button-done-disableds{
  background-color: rgb(168, 168, 168);
  color:rgb(14, 14, 14);
  width: 70%;
  cursor: not-allowed;
  pointer-events: none;
  
}

.button-done-disabled{
  background-color: rgb(168, 168, 168);
  color:rgb(14, 14, 14);
  width: 70%;
  cursor: not-allowed;
  pointer-events: none;
  
}


.button-pickup{
  background-color: #8EDAFB;
  width: 80%;
  cursor: pointer;
}

img {
  border-radius: 8px;
  border-width: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

input {
  width: -webkit-fill-available;
  background-color: rgba(251, 195, 204, 1);
  border-radius: 8px;
  border-width: 0;
  padding: 12px;
  text-align: left;
}

p {
  width: auto;
  height: auto;
}

select {
  background-color: rgba(251, 195, 204, 1);
  border-radius: 8px;
  border-width: 0;
  padding: 12px;
  text-align: left;
}

small {
  width: auto;
  height: auto;
  padding: 12px;
}

.back-button {
  margin: 20px;
  width: 80px;
  justify-content: center;
  cursor: pointer;
  height: 45px;
  border-radius: .5rem;
}

.bottomnav {
  overflow-y: auto;
  height: 90%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.cart-queue-image-container {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  height: 100%;
}

.table-report-product {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color: #d2d3cf;
  width:"100%"
}

/* LOADING */
.load-page{
  background: #fff;
  overflow: hidden;
}
.loader{
  width: 50px;
  height: 50px;
  margin: auto;
}
.loader div{
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  border: 2px solid #fff;
  border-top: 2px solid rgb(70, 175, 1);
  border-radius: 50%;
  animation: rotate 10s linear infinite alternate-reverse;
}
@keyframes rotate{
  50%{
      transform: rotate(100deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

/* END LOADING */

.row-left {
  padding-left: 20px;
}

.whitescroll {
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
	overflow-x: scroll;
	white-space: nowrap;
}

.file-input[type="file"] {
  display: none;
}

.table-head {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  text-align: left;
  background-color: #9FB866;
  color: white;
  white-space: nowrap;
  width: 500px;
}

.table-body {
  padding-right: 20px;
  font-size: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  
}

tr:nth-child(even){background-color: #ebebeb;}

.cart-queue-detail-container {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  height: 100%;
}

.cart-queue-detail-container p {
  width: auto;
  height: auto;
  text-align: left;
  margin: 12px;
}

.cart-queue-detail-container button {
  width: auto;
  height: auto;
  margin: 12px;
}

.cart-queue-modal-container-row {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.cart-queue-modal-container-row button {
  margin: 0 12px 0 12px;
}

.cart-queue-modal-container-row label {
  font-size: 20px;
  margin: 0 12px 0 12px;
}

.cart-queue-modal-container-row input {
  width: 32px;
  margin: 0 6px 0 6px;
}

.cart-queue-modal-container-row select {
  width: 100%;
  margin: 0 6px 0 6px;
}

.cart-queue-col {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 1);
  margin: 0px 0px 10px 0px;
}

.cart-queue-col:hover {
  background: #D3FAE3;
}

.button-hover-custom {
  background-color: #1EAD9C;
  color: white;
}

/* .button-hover-custom:hover {
  background-color: #1EAD9C;
} */

.cart-queue-row {
  display: flex;
  width: 100%;
  height: 15%;
}

.container-5 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 5%;
  height: auto;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
}

.container-8 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 8%;
  height: auto;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
}

.container-25 {
  flex-direction: column;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 100vh;
  min-height: 100vh;
  background-color: rgba(244, 244, 244, 1);
}


.inner-container-25 {
  padding: 16px;
  margin: 0px;
  overflow-y: auto;
  height: 85vh;
}

.inner-container-25-queue {
  padding: 16px;
  margin: 0px;
  overflow-y: auto;
  height: 95vh;
}

.container-75 {
  flex-direction: row;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 75%;
  height: 100vh;
  margin: 0px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
}

.container-751 {
  background-color: #E5E5E5
}

.container-92 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 75vw;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
}

.container-95 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 95%;
  height: auto;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
}

.form-input {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: -webkit-fill-available;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border-width: 1px;
  text-align: left;
}

.form-input-inventory1 {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 135px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border-width: 1px;
  text-align: left;
  cursor: pointer;
}

.form-input-inventory2 {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 65px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border-width: 1px;
  text-align: left;
}

.form-input-inventory3 {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 65px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border-width: 1px;
  text-align: left;
}

.login-container {
  width: auto;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 30vw;
  height: 50vw;
  margin-bottom: 10px;
  background-color: rgb(252, 252, 252);
}

.menu-button {
  align-items: center;
  font-size: x-large;
  height: 55px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: .5rem;
  cursor: pointer;
}

.menu-container {
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal-main {
  overflow: scroll;
  position: fixed;
  background: white;
  width: 70vw;
  height: auto;
  max-height: 85%;
  top: 50%;
  left: 50%;
  padding: 1em;
  transform: translate(-50%, -50%);
}

.modal-main-edit-inventory {
  overflow-y: scroll;
  position: absolute;
  background: white;
  width: 30rem;
  height: auto;
  max-height: 85%;
  border-radius: .5rem;
  top: 50%;
  left: 50%;
  padding: 1em;
  transform: translate(-50%, -50%);
}

.modal-main-edit-calendar {
  overflow-y: scroll;
  position: absolute;
  background: white;
  width: 90%;
  height: auto;
  max-height: 85%;
  border-radius: .5rem;
  top: 50%;
  left: 50%;
  padding: 1em;
  transform: translate(-50%, -50%);
}

.modal-main-message-confimation{
  overflow-y: hidden;
  position: absolute;
  background: white;
  width: 15rem;
  height: auto;
  border-radius: .5rem;
  top: 50%;
  left: 50%;
  padding: 1em;
  transform: translate(-50%, -50%);
}

.modal-main-row {
  position: sticky;
  width: 100%;
  top: -10px;
  height: 70px;
  background-color: #ffffff;
}
.container-message-confirmation{
  display: flex;
  flex-direction: column;
}

.modal-main-row button {
  margin: 12px 12px 12px 12px;
}

.order-form {
  width: auto;
  height: auto;
  border-radius: 8px;
  border-width: 0;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.order-queue-container {
  font-size: 16px;
  border-radius: 8px;
  border-width: 0;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  padding: 12px;
  margin-bottom: 1.25em;
}

.order-queue-text-title {
  font-size: 16px;
  align-self: left;
  height: 16px;
  margin: 0.2em 0em ;
  padding: 0px;
}

/* button change */

.order-queue-text-status-ready {
  font-size: 16px;
  align-self: left;
  width: fit-content;
  height: 16px;
  margin: 0.5em 0em ;
  padding: 0.5em;
  border-radius: 7px;
  cursor: none;
  background-color: #3CFF00;
}

.order-queue-text-status-ready-que {
  font-size: 16px;
  align-self: left;
  width: fit-content;
  height: 16px;
  margin: 0.5em 0em ;
  padding: 0.5em;
  border-radius: 7px;
  cursor: none;
  background-color: #8EDAFB;
}

.order-queue-text-status-waiting {
  font-size: 16px;
  align-self: left;
  width: fit-content;
  height: 16px;
  margin: 0.5em 0em ;
  padding: 0.5em;
  border-radius: 7px;
  cursor: none;
  background-color: #8EDAFB;
}

.order-queue-text-status-waiting-que {
  font-size: 16px;
  align-self: left;
  width: fit-content;
  height: 16px;
  margin: 0.5em 0em ;
  padding: 0.5em;
  border-radius: 7px;
  cursor: none;
  background-color: #eeff00;
}

.btn-list-order-ready {
  background-color: #00ccff;
  margin-left: 11px;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  cursor: default;
}

.btn-list-order-cancel {
  background-color: #E74646;
  margin-left: 11px;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  cursor: default;
}

.title-nama-inventory {
  font-size:22px;
}
.btn-list-order-waiting {
  background-color: #e5ff00;
  margin-left: 11px;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  cursor: default;
  
}

.btn-list-order-done {
  background-color: #2fff00;
  margin-left: 11px;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  cursor: default;
  
}


/* endbutton change */

.divider {
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.order-queue-text-value {
  font-size: 24px;
  align-self: right;
  height: auto;
  margin: 0.5em 0em ;
  padding: 0px;
  text-align: end;
}


.order-queue-item {
  padding: 0.5em;
}

.order-queue-container-row {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.order-queue-col {
  width: 100%;
  height: 100%;
}

.coba{
  width: 200px;
  max-width: 200px;
  text-align: center;
  background-color: red;
}

.order-queue-row {
  display: flex;
  width: 100%;
  height: auto;
}

.product-container {
  position: relative;
  border-radius: 8px;
  border-width: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.product-form {
  width: auto;
  height: auto;
  border-radius: 8px;
  border-width: 0;
  background-color: rgba(255, 255, 255, 1);
  padding: 12px;
  margin: 24px;
}

.product-list-col {
  width: 15vw;
  height: auto;
  margin: 10px;
}

.product-list-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
}

.production-queue-container {
  border-radius: 8px;
  border-width: 0;
  width: 100%;
  height: 75%;
  background-color: rgba(244, 244, 244, 1);
}

.production-queue-container-col {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.production-queue-container-row {
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.production-queue-modal-container-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.production-queue-done-button {
  font-size: 20px;
  border-radius: 0;
  width: auto;
  height: 60%;
  text-align: center;
  background-color: rgba(65, 197, 226, 1);
}

.production-queue-limit-button {
  font-size: 20px;
  min-width: 60px;
  min-height: 60px;
  background-color: rgba(222, 229, 213, 1);
  margin: 12px 12px 12px 12px;
}

.production-queue-limit-button-active {
  font-size: 20px;
  min-width: 60px;
  min-height: 60px;
  background-color: rgb(121, 179, 255);
  margin: 12px 12px 12px 12px;
}

.production-queue-prog-button {
  font-size: 20px;
  border-radius: 0;
  width: auto;
  height: 60%;
  text-align: center;
  background-color: rgba(164, 245, 187, 1);
}

.production-queue-col {
  width: 33vw;
  height: 100%;
  margin: 2em;
}

.production-queue-row {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: 30%;
}

.search-box {
  width: 40%;
  margin: 24px;
}

.card-item-list {
}

.submit-button-footer {
  height: auto;
  padding: 1em;
  width: auto;
  background-color: rgba(255, 255, 255, 1);
}

.submit-button {
  font-size: 30px;
  width: 100%;
}

.product-title-text {
  margin-left: 1em;
  margin-bottom: 0.5em;
  font-size: 20px;
  font-style: bold;
}
.text-block {
  position: absolute;
  bottom: -5%;
  height: 20%;
  width: -webkit-fill-available;
  border-radius: 0 0 8px 8px;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  padding: 12px;
  text-align: left;
}

.topnav {
  height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.container-product-inventory {
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    
	  
}

.container-product-inventory-92 {
  display: grid;
  width: 1300px;
  max-width: 130%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  
  
}

.container-inventory-col-92 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}

.container-inventory-col-923 {
  display: flex;
  justify-content: center;
  width: 95%;
  margin-left: 10%;
  margin-top: 20px;
}

/* style={{ display:"flex", justifyContent:"center", width:"80%", margin:"20%", marginTop:"20px"}} */


@media only screen and (max-width: 500px) {
  .container-inventory-col-92 {
    margin: 200px;
  }

}

@media only screen and (max-width: 800px) {

}


@media only screen and (max-width: 900px) {
  .container-report {
    margin-left: 4%;
  }

  .container-product-inventory {
    margin:"200px";
    width: 900px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .title-nama-inventory {
    font-size:19px;
  }


  .container-inventory-col-92 {
    margin-left: 10%;
    margin-top: 20px;
  }

  /* .search-box {
    width: 40%;
    margin: 24px;
    height: 50px;
  } */

/*  
  .back-button {
    margin: 20px;
    width: 80px;
    justify-content: center;
    height: 60px;
    border-radius: .5rem;
  } */
}

@media only screen and (min-width: 1000px) {
  .container-inventory-col-92 {
    margin-left: 10%;
    margin-top: 20px;
  }

  .container-report {
    margin-left: 43%;
  }
  
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */

  /* .container-product-inventory {
    grid-template-columns: repeat(2, 3fr);
    column-gap: 5px;
    max-width: 600px;
  } */

  /* .container-product-inventory {
    margin:"200px";
    width: 900px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .container-inventory-col-92 {
    margin: 20%;
    margin-top: 20px;
  } */


  .menu {
    height: auto;
  }

  .title-nama-inventory {
    font-size:19px;
  }
  
  .product-list-col {
    width: 40%;
    height: 100%;
    margin: 10px;
  }

.production-queue-col {
  width: 50vw;
  height: 100%;
  margin: 2em;
}

  .container-25 {
    flex-direction: column;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    height: 100vh;
    min-height: 100vh;
    background-color: rgba(244, 244, 244, 1);
  }

  .container-92 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 60vw;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 1);
  }

  .container-orderlist {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 60vw;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .container-75 {
    flex-direction: row;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: 100vh;
    margin: 0px;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 1);
  }

}



/* PAGINATION */

.pageNumbers {
  list-style: none;
  display: flex;
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: white;
  color: black;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: white;
  color: black;
}
.pageNumbers li button:focus {
  outline: none;
}

.loadmore {
  padding: 1rem;
  background-color: transparent;

  color: white;
  font-size: 1.2rem;
  border: 1px solid white;
  cursor: pointer;
}